<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>Welcome to Graceful Hoppers</h2>

<p>
  Thank you for taking your first step as a Graceful Hopper. You have successfully joined Twitter and registered for the site. We hope to see you back soon!
</p>
</body>
</html>