<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>Welcome to Graceful Hoppers</h2>

<p>
  Thank you for taking your first step as a Graceful Hopper. You have successfully joined Twitter and registered for the site. Unit 1 is live! We look forward to helping you along your path!
</p>

<p><a href="https://www.gittip.com/roseaboveit/">Whitney Levis</a></p>
<p><a href="https://twitter.com/roseaboveit"></a>@roseaboveit</p>
</body>
</html>