<div class="container">

  <div class="container row text-center">
    <%= image_tag('grasshopper1.jpg', class: "img-circle", alt: "A grasshopper, sitting on a leaf") %>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <p>
        Welcome to Graceful Hoppers. This site is in a very early stage and will be structurally working by May 1, 2014. Content will be minimal at first. The goal of this site will be to provide a roadmap for self-directed students to learn to become web developers.
      </p>

      <p>
        Graceful Hoppers has an opinionated approach that may not be best for everyone but attempts to touch on all the major aspects of breaking into web development as a self-directed novice. Your first assignment at Graceful Hoppers is to sign up for a Twitter account. Twitter is a major social, networking, and problem solving tool for web developers. Engaging on this platform will help you grow viable in the community while you are also learning the core competencies.
      </p>

      <p>
        This project is also for the purpose of fulfilling the capstone requirements for <a href="https://www.gittip.com/roseaboveit/">Whitney-Rose Levis</a> at <a href="http://adadevelopersacademy.org/">Ada Developers Academy</a>. ADA took inspiration from <a href="http://en.wikipedia.org/wiki/Ada_Lovelace">Ada Lovelace</a> and in similar fashion Graceful Hoppers takes inspiration from <a href="http://en.wikipedia.org/wiki/Grace_Hopper">Grace Hopper</a>. Graceful Hoppers also borrows from the metaphor of the grasshopper as the eager novice.
      </p>

      <p>
        Grace is also a powerful term that I want to use to guide our development together. Looking over the <a href="http://www.merriam-webster.com/dictionary/grace">definition online</a>, I found these concepts I want to emphasize.
        <ul>
          <li>the quality or state of being considerate or thoughtful</li>
          <li>disposition to kindness, courtesy, or clemency</li>
          <li>a way of moving that is smooth and attractive and that is not stiff or awkward</li>
          <li>ease of movement or bearing</li>
        </ul>
        I feel like these definition points are good to keep in mind as a novice engineer who cares about agility and takes the Ruby MINSWAN philosophy to heart.
      </p>
    </div>
  </div>

  <hr>

  <div class="container row text-center">
    <%= image_tag('grasshopper2.jpg', class: "img-circle", alt: "A grasshopper climbing a piece of wood") %>

  </div>

  <hr>

</div>
