  <div class="container">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      
      <h2>Market Research Findings:</h2>

      <p>
        Within independent programmer development there are a few different types of paths that are traveled. Every 
        path has its strengths and weaknesses.
      </p>

      <p>
        One path is to pay for a program or site. I don't doubt that some of these programs are effective at providing 
        the skills and roadmap necessary to grow as a novice developer. The biggest downside is that it puts such path 
        out of reach of people who can't afford it. Graceful Hoppers seeks to provide opportunity regardless of class 
        in order to support the goal of diversifying the web development industry.
      </p>

      <p>
        Another path is to consume the free resources available. This path involves bouncing around to various 
        resources, often making little progress on the overall path to becoming a web developer. The reason for this 
        is that the novice does not have the experience to know what the path to their goal looks like. They become 
        overwhelmed while trying to learn all the things simultaneously, or they get stuck hyperfocusing on a single 
        skill and never learn to transition out of it. It can also be discouraging if a learner finds a resource that 
        is too far ahead or behind of their current skill level. Graceful Hoppers seeks to provide a roadmap first and 
        foremost. This roadmap will be an opinionated home base for students to check in with even as they access some 
        of these other resources to support their education. Our onboarding unit will help the student determine if 
        this is the right program for them and provide them a learning culture with which to associate. Graceful 
        Hoppers also seeks to provide the appropriately leveled content and resources along that path and also help 
        students build resilience to appropriately handle challenging content.
      </p>

      <p>
        A profile of someone who could make good use of Graceful Hoppers:
        Helen is in her late 20s and working a minimum wage job at a coffee stand. She has always been interested in 
        web development but never really known how to get started. Every so often a friend from college posts a link 
        to some new computer science thing on facebook and she really tries to get involved. She usually loses 
        interest because there is no sense of how these exercises and classes relate to her overall goal to becoming a 
        web developer, or they require a level of knowledge and experience that is beyond her.
      </p>
    </div>
  </div>
  






